/* loadingModal */
#loadingModal{
    background-color: rgba(187, 133, 58, 0.844);

    height: 70px;
    width: 300px;

    border-radius: 5px;
   
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLogin{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 1px 1px 1px 400px rgba(0, 0, 0, 0.244);

    background-image: url('../../images/wall.png');
}

/* form */
.mainLogin > form{
    background-color: rgba(122, 89, 17, 0.538);
    height: 180px;
    width: 300px;
    padding: 40px 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    border-radius: 8px; 
}

.mainLogin > form > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainLogin > form > div > label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.mainLogin > form > div > input{
    width: 250px;
    height: 30px;

    font-size: 15px;

    outline: 0px;
    border-radius: 3px; 
    border: 0px;


    padding-left: 5px;

    background-color: rgba(0, 0, 0, 0.482);
    color: white;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.mainLogin > form > div > button{
    width: 250px;
    height: 40px;

    background-image: url('../../images/wall.png');

    font-size: 25px;
    font-weight: bold;

    border: 0px;
    border-radius: 3px;

    color: white;

    cursor: pointer;
}

.mainLogin > form > div > .navigateHome{
    text-decoration: none;
    text-align: center;

    color: white;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 3px;

    margin-top: 5px;
}